<div class="card">
    <p-toolbar>
        <ng-template #center>
            <div class=" flex items-center gap-2">
                <p-button label="Files" text plain />
                <p-button label="Edit" text plain />
                <p-button label="View" text plain />
            </div>
        </ng-template>
        <ng-template #end>
            <div class="flex items-center gap-2">
                <p-avatar image="https://robohash.org/studio-ghibli" [style]="{ width: '32px', height: '32px' }" />
            </div>
        </ng-template>
    </p-toolbar>
</div>